modules = ["python-3.12", "bash", "nix"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["python3", "wsgi.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80
